/* 📁 navbar */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* 📁 border on hover */
.nav-border {
    border: 1.5px solid transparent;
    border-radius: 10px;
}

.nav-border:hover {
    transition: all 0.5s ease-in;
    border: 1.5px solid white;
}

/* 📁 Small and Large fonts in navbar */
.nav-smallFont{
    font-size: 0.85rem;
}
.nav-bigFont{
    font-size: 1rem;
    font-weight: 550;
}

/* 📁 logo div */
.nav-logo {
    height: 90%;
    width: 7vw;
}

.logo {
    height: 100%;
    width: 100%;
    background: url("../images/amazon_logo.png") no-repeat center center/contain;
}

/* 📁 Deliver to */
.nav-address #add-first {
    color: #cccccc;
    margin-left: 15px;
}

.add-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2rem;

    cursor: pointer;
}

/* 📁 SEARCH BAR */
.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*if given this height will be devastated */
    /* align-items: center;   */

    height: 70%;
    width: 40vw;
    border-radius: 5px;

    background-color: rgb(158, 158, 89);
}

.nav-search select{
    border: none;
    border-radius: 5px 0 0 5px;
    
    padding: 5px;
    text-align: center;
    background-color: #f3f3f3;
}

.nav-search input{
    width: 100%;        /*give empty area to input*/
    font-size: 1rem;
    border: none;
}

.nav-search .search-icon{
    border-radius: 0 5px 5px 0;
    width: 7%;
    font-size: 1.2rem;

    background-color: #ffab3d;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* 📁 Account */
/* Font styling already given in nav-smallFont , nav-bigFont */
.nav-signin .nav-smallFont{
    color: #cccccc;
}

/* 📁 Orders */
.nav-return .nav-smallFont{
    color: #cccccc;
}

/* 📁 Cart */
.nav-cart i{
    font-size: 25px;
}