* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* border on hover */
.smallBorder {
    border: 1.5px solid transparent;
    border-radius: 10px;
}

.smallBorder:hover {
    transition: all 0.5s ease-in;
    border: 1.5px solid white;
}

/* Small and Large fonts in navbar */
.nav-smallFont {
    font-size: 0.85rem;
}

.nav-bigFont {
    font-size: 1rem;
    font-weight: 550;
}

/* /////////////////////////////////////////////////////// */
/* 📁 Navbar */
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}


/* logo div */
.nav-logo {
    height: 90%;
    width: 5%;
}

.logo {
    height: 100%;
    width: 100%;
    background: url("../images/amazon_logo.png") no-repeat center center/contain;
}

/* Deliver to */
.nav-address #add-first {
    color: #cccccc;
    margin-left: 15px;
}

.add-icon {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2rem;

    cursor: pointer;
}

/* SEARCH BAR */
.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*if given this height will be devastated */
    /* align-items: center;   */

    height: 70%;
    width: 50%;
    border-radius: 5px;

    background-color: rgb(158, 158, 89);
}

.nav-search select {
    border: none;
    border-radius: 5px 0 0 5px;

    padding: 5px;
    text-align: center;
    background-color: #f3f3f3;
}

.nav-search input {
    width: 100%;
    /*give empty area to input*/
    font-size: 1rem;
    border: none;
}

.nav-search .search-icon {
    border-radius: 0 5px 5px 0;
    width: 7%;
    font-size: 1.2rem;

    background-color: #ffab3d;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

.nav-search:hover {
    border: 2px solid orange;
}

/* Account */
/* Font styling already given in nav-smallFont , nav-bigFont */
.nav-signin .nav-smallFont {
    color: #cccccc;
}

/* Orders */
.nav-return .nav-smallFont {
    color: #cccccc;
}

/* Cart */
.nav-cart i {
    font-size: 25px;
}

/* ////////////////////////////////////////////////////// */
/* 📁 Panel */
/* 2ND PANEL */
.panel {
    padding: 0.5rem;
    min-height: fit-content;
    background-color: #1e1f28;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    color: white;
}

.panel-categories {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 5%;
    padding: 0.4rem;
}

.panel-ops {
    width: 100%;
    /* Take all remaining panel width*/
}

.panel-deals {
    width: 15%;
    padding: 0.4rem;
}

.panel-ops a,
.panel-deals a {
    padding: 0.4rem;
    text-decoration: none;
    color: #f3f3f3;
    margin: 0 0.2rem;
}

/* ////////////////////////////////////////////////////// */
/* 📁 Carousel */
/* CAROUSEL CONTAINER */
.carousel-wrapper {
    position: relative;
    overflow: hidden;
}


/* SLIDES ACTUAL */
.carousel-container {
    height: calc(60vh);
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: scroll;
    scroll-behavior: smooth;
}

.carousel-slide {
    width: 100%;
    /* so that 1 slide visible only at a time on page*/
    height: 100%;
    flex: 1 0 100%;
}

.carousel-slide:nth-child(1) {
    background-image: url("../images/carousel1_1.jpg");
    background-size: cover;
}

.carousel-slide:nth-child(2) {
    background-image: url("../images/carousel2.jpg");
    background-size: cover;
}

.carousel-slide:nth-child(3) {
    background-image: url("../images/carousel3_1.jpg");
    background-size: cover;
}

.carousel-slide:nth-child(4) {
    background-image: url("../images/carousel4.jpg");
    background-size: cover;
}

/* FADE EFFECT for the slides container */
/* .slider-wrapper::after{
    content: "";
    background: linear-gradient(to top , rgba(255, 255, 255,1) , rgba(255, 255, 255, 0.25) , rgba(255, 255, 255, 0.0));
    z-index: 1;
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;
} */

/* Carousel Buttons */
.carousel-arrow {
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 2rem;
    font-size: 7rem;

    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;

    opacity: 0.4;
    /* z-index: 2; */

}

.carousel-arrow:hover {
    transition: all 0.5s;
    opacity: 1;
}

#carousel-arrow-prev {
    left: 0;
}

#carousel-arrow-next {
    right: 0;
}

/* Remove Scroll Bar scroll bar */
.carousel-container {
    scrollbar-width: none;
    /*FireFox*/
    -ms-overflow-style: none;
    /*internet Explorer*/
}

/* Scroll Bar Remove - WebKit */
.carousel-container::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* ////////////////////////////////////////////////////// */
/* 📁 DIV ON CAROUSEL*/
.carousel-info {
    /* z-index: 2; */   /*absolute wrt to slider-wrapper*/
    position: absolute;
    bottom: 0;
    left: 0;

    height: fit-content;
    width: 100%;
    padding: 0.2rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), black, rgba(0, 0, 0, 0.1));
}

.carousel-info a {
    color: #ffab3d;
    padding: 0.2rem;
}


/* ////////////////////////////////////////////////////// */
/* 📁 Boxes */
.shop-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    padding: 1rem 0;

    background-color: #d8d8d8;
}
.box{
    height: 420px;
    width: 380px;
    /* border: 2px solid black; */
    padding: 0.8rem;
    background-color: #ffffff;
}
.box a{
    color: #007185;
}
.box a:hover{
    color: #ffab3d;
}

/* Single Image Box Styling */
.singleBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

    box-sizing: border-box;
}
.singleBox img{
    height: 75%;
    width: auto;
}

/* Grid Image Box Styling */
.gridBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.gridBox .gridBox-imgContainer{
    height: 75%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(2 , minmax(150px, 1fr));
    place-content: center;

    gap: 1rem;
}
.gridBox-imgContainer .imgCon{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    text-decoration: none;
}
.imgCon img{
    height: auto;
    width: 100%;
}
.imgCon p{
    align-self: flex-start;
    color: black;
    font-size: 0.9rem;
}




/* ////////////////////////////////////////////////////// */
/* 📁 MEDIA QUERY */
/* Media Query */
